*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
	min-height: 100%;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	background: url('../images/bg_noise.png') repeat #111;
	font-size: 0.875em;
	color:#FFF;
}

#global {
	width: 100%;
	height: 100%;
	text-align: left;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.container {
	margin: 0 auto;
	max-width: 980px;
	padding: 0 15px;
}

.hr {
	height: 1px;
	background: #EEE;
	padding: 0 !important;
	margin: 10px 0 5px;
}

a.button {
	z-index: 1;
	position: absolute;
	left: 25px;
	bottom: 25px;
	display: inline-block;
	vertical-align: middle;
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 15px;
	border-bottom: 1px solid transparent;
	-webkit-transition: letter-spacing 150ms ease;
	-moz-transition: letter-spacing 150ms ease;
	-o-transition: letter-spacing 150ms ease;
	transition: letter-spacing 150ms ease;
}

a.button:hover {letter-spacing: 0.1em}

a.button:active {bottom: 24px;}

button {position: relative; z-index: 2;}

#toolbox {
	position: absolute;
	z-index: 2;
	left: 0; right: 0; /* top: -72px; */
	background: #FFF;
	padding: 10px 15px 15px;
}

	label {
		display: inline-block;
		width: 60px;
		color:#333;
		font-weight: bold;
		vertical-align: middle;
	}

	input[type="range"] {
		-webkit-appearance: none;
		display: inline-block;
		vertical-align: middle;
		width: 175px;
		height: 30px;
		position: relative;
	}

		input[type="range"]:after {
			content:" ";
			display: block;
			background: #CCC;
			width: 100%;
			position: absolute;
			height: 3px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border-top: 1px solid #AAA;
			left: 0; right: 0; top: 14px;
		}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 26px; height: 26px;
		background: #FFF;
		opacity: 1;
		position: relative;
		z-index: 2;
		border:none;
		-webkit-box-shadow: 0 1px 5px #AAA;
		-moz-box-shadow: 0 1px 5px #AAA;
		box-shadow: 0 1px 5px #AAA;
		-webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
	}

	span.value {
		color:#666;
		display: inline-block;
		width: 40px;
		margin-left: 10px;
		font-size: .9em;
		font-style: italic;
	}

	#toolbox > div {
		padding-top: 5px;
	}

	#toolbox .hr {margin-left: -15px; margin-right: -15px;}

	#toolbox_toggle {
		background: white;
		color:#999;
		position: absolute;
		padding: 8px 14px 8px 30px !important;
		font-weight: bold;
		left: 15px;
		top: 100%;
		cursor: pointer;
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
	}

		#toolbox_toggle:before {
			position: absolute;
			top: 13px; left: 13px;
			content:" ";
			display: block;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 5px 5px 0 5px;
			border-color: #212121 transparent transparent transparent;
		}

		#toolbox_toggle.toggled:before {
			border-width: 0px 5px 5px 5px;
			border-color: transparent transparent #212121 transparent;
		}

#toggle_play_btn {
	width: 40px; height: 40px;
	position: absolute;
	z-index: 2;
	opacity:0.8;
	bottom: 18px;
	right: 20px;
	cursor: pointer;

	-webkit-transition: opacity ease 150ms;
	-moz-transition: opacity ease 150ms;
	-ms-transition: opacity ease 150ms;
	-o-transition: opacity ease 150ms;
	transition: opacity ease 150ms;
}

	#toggle_play_btn:hover {
		opacity: 1;
	}

	#toggle_play_btn:after {
		content:" ";
		margin-top: 5px;
		margin-left: 10px;
		display: block;
		width: 0; height: 0;
		border-style: solid;
		border-width: 15px 0 15px 20px;
		border-color: transparent transparent transparent #FFFFFF;
	}


	#toggle_play_btn.pause:after, #toggle_play_btn.pause:before  {
		position: absolute;
		content:" ";
		margin-top: 5px;
		margin-left: 5px;
		display: block;
		width: 10px; height: 30px;
		background: white;
		border: none;
	}

	#toggle_play_btn.pause:before {
		margin-left: 25px;
	}





/* Color changer.css */
.color_changer {
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%; width: 100%;
	min-height: 100%;
}

	.color_changer div {display: block}
	.color_changer .rows {width: 100%; clear: both;}
	.color_changer .cols {height: 100%; float: left;}